@{
    ViewBag.Title = "Trang chủ  ";
}
<div class="maintain-content-list">
    <div class="list-left">
        <div id="list">Trang chủ</div>

    </div>

</div>
<div class="home=content">
    <div class="intro">
        <h2>Quản lý cửa hàng đơn giản</h2>
        <h4><i>Dù là cửa hàng nhỏ hay chuỗi của hàng với hàng nghìn mặt hàng</i></h4>
    </div>
    <div class="overview">

        <div class="box">
            <div style="display:flex;justify-content:center;height:100px;">
                <div class="cir buy"></div>
            </div>

            <div style="margin-top:80px">
                <h3>Bán hàng, tính tiền</h3>
                <h5 style="line-height:30px;">Phần mềm tính tiền đơn giản dễ sử dụng, nhân viên chỉ cần 5 phút để làm quen</h5>
            </div>
        </div>
        <div class="box">
            <div style="display:flex;justify-content:center;height:100px;">
                <div class="cir stock1"></div>
            </div>
            <div style="margin-top:80px">
                <h3>Tồn kho</h3>
                <h5 style="line-height:30px;">Kiểm soát tồn kho chặt chẽ, giảm thất thoát.Nhập kho và làm giá tiện lợi, bán hàng được ngay</h5>
            </div>
        </div>
        <div class="box">
            <div style="display:flex;justify-content:center;height:100px;">
                <div class="cir cus"></div>
            </div>
            <div style="margin-top:80px">
                <h3>Khách hàng</h3>
                <h5 style="line-height:30px;">Đừng để khách đến một lần rồi đi. Biến khách vãng lai thành khách thân thiết nhờ hiểu được thói quen mua hàng.</h5>
            </div>
        </div>
    </div>
</div>