/*table{
    width:100%;
    height:500px;
}*/
.menu {
    position: absolute;
    top: 56px;
    left: 0px;
    width: 230px;
    height: 697px;
    background: #026BB8;
    overflow-x: hidden;
}
.menu-icon {
    display: flex;
    width: 230px;
    height: 46px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid #3bc090;
   border-top:1px solid #2b6ca1;
}
.icon {
    position: relative;
    height: 38px;
    left: 15px;
    top: -8px;
    width: 38px;
    text-align: center;
    display: block;
    background: url('../Contents/images/iconMenu.png');
    background-repeat: no-repeat;
    
}
.link-text {
    color: white;
    position: relative;
    top: 22px;
    width: 100%;
    height: 26px;
    left: 11px;
    bottom: 3px;
    text-align: left;
    padding-left: 40px;
    cursor: pointer;
}
.icon-home{
    background-position: 0px 5px;
}
.icon-report {
    background-position: 0px -185px;
}
.icon-purchar {
    background-position: 0px -368px;
}
.icon-stock {
    background-position: 0px -32px;
}
.icon-cash {
    background-position: 0px -73px;
}
.icon-charge {
    background: url('../Contents/images/icon-deposit.png') center no-repeat;
}
.icon-promotion-group {
    background-position: 0px -111px;
}
.icon-menu {
    background: url('../Contents/images/vector-smart-object.png') center no-repeat;
}
.icon-dictionary {
    background: url('../Contents/images/slibarmenu.png') 0px -232px;
}
.icon-canncel {
    background: url('../Contents/images/cancel-invoice.png') center no-repeat;
}
.icon-smsmarketing {
    background: url('../Contents/images/SMS_Menu.svg') center no-repeat;
    
}
.icon-partner {
    background-image: url('../Contents/images/ic_GH.svg');
    margin-top:6px;
}
.icon-receipt {
    background-image: url('../Contents/images/ic_hoadon.png');
    margin-top: 6px;
}
.icon-setting {
   background-position: 0px -228px;
}
.icon-help {
    background: url('../Contents/images/iconHelp.png') center no-repeat;
}
.icon-menusubcribe {
    background: url('../Contents/images/icon-subscriber.png') center no-repeat;
}
.icon-food {
    background: url('../Contents/images/5food.png') center no-repeat;
}
.form-horizontal{
    margin-top:80px;
    margin-left:60px;
}
.sale{
    position:absolute;
    z-index:2;
    background:#3bc090;
    border:1px solid #026BB8;
    width:231px;
    height:100px;
    display:block;
   
}
.item-sale{
    height:50px;
    border:1px solid #808080;
    align-content:center;
    justify-content:center;
    display:flex;

}
.item-text{
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
  
}
#money:hover{
   color:aqua;
}